/* CSS para diferentes componentes de la interfaz */

/* Botones */

.btn {
  display: block;
  padding: 12px 48px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  font-weight: 600;
  text-decoration: none;
  user-select: none;
}

.btn:hover {
  cursor: pointer;
}

/* Botón sin fondo y con texto claro */

.btn-claro {
  border-color: var(--claro);
  color: var(--claro);
}

.btn-claro-fondo-azul:hover,
.btn-claro-fondo-negro:hover {
  background-color: var(--claro);
}

.btn-claro-fondo-azul:hover {
  color: var(--azul);
}

.btn-claro-fondo-negro:hover {
  color: var(--negro);
}

.btn-claro-fondo-azul:active,
.btn-claro-fondo-negro:active {
  background-color: unset;
  border-color: var(--claro);
  color: var(--claro);
}

/* Botón con fondo claro y texto azul */

.btn-txt-azul {
  border-color: var(--azul);
  color: var(--azul);
}

.btn-txt-azul:hover {
  background-color: var(--azul);
  color: var(--claro);
}

.btn-txt-azul:active {
  background-color: var(--claro);
  color: var(--azul);
}

/* Botón con fondo claro y texto negro */

.btn-txt-negro {
  border-color: var(--negro);
  color: var(--negro);
}

.btn-txt-negro:hover {
  background-color: var(--negro);
  color: var(--claro);
}

.btn-txt-negro:active {
  background-color: var(--claro);
  color: var(--negro);
}

/* Botón con fondo azul y texto claro */

.btn-azul {
  border-color: var(--azul);
  background-color: var(--azul);
  color: var(--claro);
}

.btn-azul:hover {
  background-color: var(--claro);
  color: var(--azul);
}

.btn-azul:active {
  background-color: var(--azul);
  color: var(--claro);
}

/* Botón con fondo negro y texto claro */

.btn-negro {
  border-color: var(--negro);
  background-color: var(--negro);
  color: var(--claro);
}

.btn-negro:hover {
  background-color: var(--claro);
  color: var(--negro);
}

.btn-negro:active {
  background-color: var(--negro);
  color: var(--claro);
}

/* Acordeón para las preguntas frecuentes */

details {
  width: calc(100% -20px);
  max-width: 774px;
  padding: 15px 50px;
  background-color: var(--claro);
  border-radius: 5px;
}

summary {
  font-size: 18px;
  font-weight: 500;
  color: var(--negro);
  cursor: pointer;
  user-select: none;
  list-style: none;
  position: relative;
}

summary::after {
  content: 'add';
  position: absolute;
  right: 0;
  font-family: 'Material Symbols Outlined';
  font-size: 22px;
}

details[open] summary::after {
  content: 'remove';
}

details p {
  color: var(--negro);
  padding-top: 45px;
  padding-bottom: 30px;
}

/* Caja de registro de correo */

.caja-correo {
  width: 80%;
  max-width: 640px;
  border: 2px solid var(--azul);
  border-radius: 5px;
  padding: 4px;
  gap: 4px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
}

.caja-correo input {
  all: unset;
  padding: 0 40px;
  text-align: left;
  width: 400px;
}

/* Botón para volver arriba */

.btn-volver-arriba {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  color: var(--claro);
  border: 2px solid var(--claro);
  border-radius: 5px;
}

.btn-volver-arriba span {
  font-family: 'Material Symbols Outlined';
  font-size: 35px;
  font-weight: 300;
}

.btn-volver-arriba:hover {
  text-decoration: none;
}